@font-face {
    font-family: 'Monosten A';
    src: url('../assets/font/Monosten/monosten-a-webfont.eot');
    src: url('../assets/font/Monosten/monosten-a-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/Monosten/monosten-a-webfont.woff2') format('woff2'),
         url('../assets/font/Monosten/monosten-a-webfont.woff') format('woff'),
         url('../assets/font/Monosten/monosten-a-webfont.ttf') format('truetype'),
         url('../assets/font/Monosten/monosten-a-webfont.svg#monostenabook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('../assets/font/Akzidenz/akzidenz_gr_md-webfont.eot');
    src: url('../assets/font/Akzidenz/akzidenz_gr_md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/Akzidenz/akzidenz_gr_md-webfont.woff2') format('woff2'),
         url('../assets/font/Akzidenz/akzidenz_gr_md-webfont.woff') format('woff'),
         url('../assets/font/Akzidenz/akzidenz_gr_md-webfont.ttf') format('truetype'),
         url('../assets/font/Akzidenz/akzidenz_gr_md-webfont.svg#berthold_akzidenz_grotesk_bmd') format('svg');
    font-weight: normal;
    font-style: normal;
}

$akzidenz: 'Akzidenz Grotesk';
$monosten: 'Monosten A';

$gold: #a28f71;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    background: #000;
    color: #fff;
    font-family: $monosten;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

.home {
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .title {
        font-family: $akzidenz;
        text-transform: uppercase;
        font-size: 130px;
        line-height: 110px;
        margin: 0;
        color: $gold;
    }

    .subtitle {
        white-space: nowrap;
        font-size: 22px;
        font-weight: 300;
        margin: 0 0 10px 0;
    }

    .start {
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 80px 0 0 0;

        .part-left,
        .part-right {
            position: relative;
            display: inline-block;
        }

        .part-left {
            left: 61px;
            border-top: 2px solid #fff;
            border-left: 2px solid #fff;
            text-align: left;
            padding: 13px 56px 17px 29px;
        }

        .part-right {
            right: 61px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            text-align: right;
            padding: 15px 29px 15px 56px;
        }
    }

    .loading {
        width: 120px;
        margin: 0 auto;

        .mask {
            position: absolute;
            top: -1px;
            left: -120px;
            height: 5px;
            width: 100%;
            background: #000;
            z-index: 3;
        }

        .loader-bg {
            height: 3px;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            display: inline-block;
            background: #444;
        }

        .loader {
            height: 3px;
            width: 100%;
            position: absolute;
            top: 0;
            left: -120px;
            z-index: 2;
            display: inline-block;
            background: $gold;
        }
    }

}

.end {
    text-align: center;
    padding: 60px 0 0 0;

    h1 {
        font-family: $akzidenz;
        font-size: 80px;
        text-transform: uppercase;
    }

    a,
    a:visited {
        color: #fff;
        text-decoration: none;
        transition: color 0.5s ease;

        &:hover {
            color: #912;
        }
    }

    .sub-title {
        font-size: 30px;
    }
}